recursive-include lex/react *
recursive-include lex/assets *
recursive-include lex/docs *
include pyproject.toml
include requirements*.txt
include generate_pycharm_configs.py
global-exclude __pycache__ *.py[cod] .DS_Store
recursive-exclude * __pycache__