name: Scheduled ScanCode Toolkit Trigger

on:
  schedule:
    - cron: '0 23 * * 0'
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  trigger-scan:
    uses: ExcellenceCloudGmbH/devops-toolkit/.github/workflows/copyright-scan.yaml@main
